/* Mobile first styling */

#pillar {
    cursor: grab;
    display: flex;
    position: absolute;
    align-items: center;
    width: max-content;
    padding: 15px 20px;
    border-radius: 500px;
}

#pillar:active {
    cursor: grabbing;
}

#menu-wrapper {
    display: none;
}

#left-arrow, #right-arrow, #close, .segment {
    background: transparent;
    cursor: pointer;
    border: none;
    width: 2em;
    height: 2em;
    margin: 0% 2%;
}

.segment-container, .segment {
    width: max-content;
    padding: 0;
}

.segment-container:nth-child(1) {
    border-right: 2px solid #000000;
    padding-right: 5px;
}